<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @post.each do |post| %>
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
            <img alt="image" src="<%= post.image %>">
        </div>
      </div>
      <div class="detail">
        <p class="title">
          <%= link_to(post.text, "/posts/#{post.id}") %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

