<div class="main-container">
  <div class="container-inner inner-default clearfix">
    <% @post.each do |post| %>
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
            <img alt="image" src="<%= post.image %>">
        </div>
      </div>
      <div class="detail">
        <%= link_to post.text, "/posts/#{post.id}" %>
        <div class="post-user-name">
          <%= link_to post.user.name, "/users/#{post.user.id}" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

