<div class="form">
  <div class="form-body">
    <%= form_tag('/posts/create', method: :post) do %>
      <h3 class="form-heading">
        投稿する
      </h3>
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @post.text %></textarea>
      <input type="submit" value="投稿">
    <% end %>
  </div>
</div>
