<div class="main posts-new">
  <div class="container">
    <h3 class="form-heading">
      投稿する
    </h3>
    <%= form_tag('/posts', method: :post) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
            <%= message %>
            </div>
          <% end %>
          <input placeholder="Image Url" type="text" name="image">
          <textarea name="text" placeholder=" Name"><%= @post.text %></textarea>
          <%= render "posts/select_pref" %>
          <input  class="submit" type="submit" value="投稿">
        </div>
      </div>
      <% end %>
  </div>
</div>
